# Gradle
.gradle/
build/
*/build/
!gradle/wrapper/gradle-wrapper.jar

# Android
local.properties
*.apk
*.aab
*.keystore
*.jks
captures/
.externalNativeBuild/
.cxx/

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# Logs
*.log
